@font-face {
    font-family: Avenir-Book;
    src: url('/public/Fonts/Avenir-Book.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('/public/Fonts/MontserratAlternates-Medium.otf');
}

span svg path {
    fill-rule: evenodd;
    clip-rule: evenodd;
}

.dark {
    background-color: #0F0F0F;
    color: white;
}